.Container {
  border: 1px solid #e5e5e5;
  height: calc(100% - 62px);
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-size: 16px;
}

.Button {
  border: 1px solid #e5e5e5;
  padding: 5px 8.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12.5px;
  font-weight: 500;
}

.Button p {
  line-height: 0;
}

.Input {
  width: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400' aria-hidden='true'%3E%3Cpath d='m21 21-4.34-4.34'%3E%3C/path%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3C/svg%3E");
  background-color: #f3f3f5;
  background-size: auto;
  background-position: 1px center;
  background-repeat: no-repeat;
  background-position-x: 10px;
  padding: 8px 10.5px 8px 35px;
}

.Input:focus {
  outline: 1px solid #bababa;
}

.DropDownWrapper {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
