.Container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 17.5px;
  font-weight: 600;
}

.CloseButton {
  position: relative;
  top: -5px;
  right: -8px;
}

.Status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  gap: 5px;
}

.StatusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12.25px;
}

.StatusNumber {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(209, 213, 220);
  margin-bottom: 5px;
}

.StatusDescription {
  font-size: 10.5px;
  color: rgb(127, 134, 148);
}

.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 15px;
  height: 400px;
}

.Label {
  font-size: 12.25px;
  font-weight: 500;
}

.Input {
  width: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'     stroke='rgb(182, 182, 191)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400' aria-hidden='true'%3E%3Cpath d='m21 21-4.34-4.34'%3E%3C/path%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3C/svg%3E"); */
  background-color: #f3f3f5;
  /* background-size: auto;
  background-position: 1px center;
  background-repeat: no-repeat;
  background-position-x: 10px; */
  padding: 8px 10.5px 8px 10px;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
}

.CancelButton {
  padding: 7px 14px;
  font-size: 12.25;
}

.CancelButton:hover {
  background-color: rgb(233, 235, 239);
}

.NextButton {
  padding: 7px 14px;
  font-size: 12.25;
  color: white;
  background-color: rgb(127, 194, 187);
}
