.Container {
  position: fixed;
  background-color: #014940;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  width: 100%;
  height: 56px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
}

.LogoWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

.LogoSection {
  font-size: 15.5px;
  background-color: #486d66;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: -1;
}

.AlarmSection {
  display: flex;
  gap: 10px;
}

.SelectBox {
  color: #008578;
  padding: 1.75px 7px;
  border: 1px solid #008578;
  background-color: #ebf2f1;
  border-radius: 12px;
}

.AlarmWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.AlarmWrapper:hover {
  background-color: #315a53;
}
