.Container {
  position: relative;
  width: 126px;
  height: 31px;
  padding: 7px 11px;
  background-color: #f3f3f5;
  font-size: 12px;
  cursor: pointer;
}

.SelectBox {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  line-height: 1.5;
  cursor: pointer;
}

.Ul {
  position: absolute;
  top: 35px;
  left: 0;
}

.Li {
  width: 126px;
  height: 100%;
  border: 1px solid #f3f3f5;
  padding: 3px;
}

.Element {
  padding: 7px 6px;
}

.Element:hover {
  background-color: #f3f3f5;
}
