/* font-size: 10.5px;
  color:white;
  padding: 1.75px 7px;
  
  background-color: #ebf2f1; */

.Operation {
  font-size: 10.5px;
  width: auto;
  color: white;
  padding: 4px 8px;
  background-color: rgb(55, 132, 120);
}

.Participation {
  font-size: 10.5px;
  width: auto;
  color: white;
  padding: 4px 8px;
  background-color: rgb(232, 49, 56);
}

.Start {
  font-size: 10.5px;
  width: auto;
  color: white;
  padding: 4px 8px;
  background-color: rgb(55, 132, 120);
}

.Verification {
  font-size: 10.5px;
  width: auto;
  color: rgb(181, 105, 43);
  padding: 4px 8px;
  background-color: rgb(253, 248, 193);
}

.Writing {
  font-size: 10.5px;
  width: auto;
  color: rgb(74, 85, 98);
  padding: 4px 8px;
  background-color: rgb(243, 244, 246);
}

.Preparing {
  font-size: 10.5px;
  width: auto;
  color: rgb(157, 157, 157);
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #e5e5e5;
}
