* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a {
  color: black;
}

button {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
