.Container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 17.5px;
  font-weight: 600;
}

.CloseButton {
  position: relative;
  top: -5px;
  right: -8px;
}

.Status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  gap: 5px;
}

.StatusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12.25px;
}

.StatusNumber {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(209, 213, 220);
  margin-bottom: 5px;
}

.StatusCurrent {
  background-color: #008578;
  border: 2px solid #008578;
  color: white;
}

.StatusDescription {
  font-size: 10.5px;
  color: rgb(127, 134, 148);
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 15px;
  height: 400px;
}

.Label {
  font-size: 12.25px;
  font-weight: 500;
}

.Input {
  width: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'     stroke='rgb(182, 182, 191)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400' aria-hidden='true'%3E%3Cpath d='m21 21-4.34-4.34'%3E%3C/path%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3C/svg%3E"); */
  background-color: #f3f3f5;
  /* background-size: auto;
  background-position: 1px center;
  background-repeat: no-repeat;
  background-position-x: 10px; */
  padding: 8px 10.5px 8px 10px;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
}

.CancelButton {
  padding: 7px 14px;
  font-size: 12.25;
}

.CancelButton:hover {
  background-color: rgb(233, 235, 239);
}

.NextButtonContainer {
  display: flex;
  gap: 10px;
}

.NextButton {
  padding: 7px 14px;
  font-size: 12.25;
  color: white;
  background-color: rgb(127, 194, 187);
}

.NextButton:hover {
  background-color: #008578;
}

.PrevButton {
  padding: 7px 14px;
  font-size: 12.25;
  background-color: white;
  border: 1px solid #dde0e5;
}

.LanguageWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.Language {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  padding: 16.5px;
  border: 2px solid rgb(229, 231, 235);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Language:hover {
  border: 2px solid rgb(210, 213, 220);
}

.ClickedLanguage {
  box-sizing: border-box;
  background-color: rgb(235, 242, 241);
  border: 2px solid rgb(55, 132, 120);
}

.ClickedLanguage:hover {
  border: 2px solid rgb(55, 132, 120);
}

.ClickedLangArr {
  margin-top: -10px;
  display: flex;
  gap: 5px;
}

.ClickedLang {
  color: white;
  font-size: 10.5px;
  background-color: #008578;
  padding: 3px 7px;
}

.OperationStatus {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.StatusToggleContainer {
  display: flex;
  gap: 10px;
  font-size: 12.25px;
}

.ToggleContainer {
  width: 32px;
  height: 16px;
  background-color: rgb(204, 206, 212);
  cursor: pointer;
}

.Toggle {
  position: relative;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: white;
  transition: 0.3s;
}

.ToggleChecked {
  left: 17px;
  transition: 0.3s;
}

.ToggleWrapperChecked {
  background-color: black;
  transition: 0.3s;
}

.QrWrapper {
  width: 312px;
  height: 312px;
  padding: 28px;
  box-shadow: 0 0 0 2.5px #dde0e5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QrDownload {
  margin: 0 auto;
  width: 114px;
  padding: 7px 10.5px;
  display: flex;
  color: white;
  justify-content: space-between;
  background-color: #008578;
}

.QrDownload svg {
  position: relative;
  top: 2px;
}

.QrDescription {
  font-size: 12.25px;
  font-weight: 300;
  text-align: center;
}

.QrDescriptionTwo {
  text-align: center;
  font-weight: 250;
  font-size: 10.5px;
  margin-top: 3.5px;
}
